server {
    listen      443 ssl;
    listen [::]:443 ssl;

    server_name  ${NGINX_SERVER_NAME};

    ssl_certificate /etc/nginx/certs/${NGINX_SSL_CERTIFICATE};
    ssl_certificate_key /etc/nginx/certs/${NGINX_SSL_CERTIFICATE_KEY};

    location / {
        proxy_pass http://app:8000;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
